@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
:root {
    --primary-bg-color: #3490dc;
    --primary-text-color: #ffffff;
    --primary-hover-bg-color: #2176b4;
    --primary-hover-text-color: #cce0ff;
  }
}